{% set dateformat = config.system.dateformat.short %}
{% set author = page.header.author|defined(config.site.author) %}
{% set is_current_page = (page.url == uri.path) %}

<article {% if not is_current_page %} role="listitem"{% endif %} class="blog">

    {% set title = page.title %}
    {% set title_link = page.header.link|default(page.url) %}
    {% set byline = 'BLOG.PUBLISHED_ON'|t(author.name, page.date|date("c"), page.date|date(dateformat), page.date|nicetime)|raw %}
    {% set extras %}
        {% if page.taxonomy.tag %}
            <div class="tags">
                <ul>
                {% for tag in page.taxonomy.tag %}
                    <li><a href="{{ blog.url|rtrim('/') }}/tag{{ config.system.param_sep }}{{ tag }}">{{ tag }}</a></li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endset %}

    {% include 'partials/page-title.html.twig' %}

    <div class="container">
    {% if page.header.continue_link is sameas(false) %}
    {{ page.content }}
        {% if not truncate %}
        {% set show_prev_next = true %}
        {% endif %}
    {% elseif truncate and page.summary != page.content %}
        {{ page.summary }}
        <p><a href="{{ page.url }}">{{ 'BLOG.ITEM.CONTINUE_READING'|t }}</a></p>
    {% elseif truncate %}
        {% if page.summary != page.content %}
        {{ page.content|safe_truncate_html(550) }}
        {% else %}
        {{ page.content }}
        {% endif %}
        <p><a href="{{ page.url }}">{{ 'BLOG.ITEM.CONTINUE_READING'|t }}</a></p>
    {% else %}
        {{ page.content }}

        {% if config.plugins.comments.enabled %}
        {% include 'partials/comments.html.twig' %}
        {% endif %}

        {% set show_prev_next = true %}
    {% endif %}

    {% if show_prev_next %}
    <nav class="prev-next">
        {% if not page.isFirst %}
        <a class="next" href="{{ page.nextSibling.url }}">{{ 'BLOG.ITEM.NEXT_POST'|t }} »</a>
        {% endif %}

        {% if not page.isLast %}
        <a class="previous" href="{{ page.prevSibling.url }}">« {{ 'BLOG.ITEM.PREV_POST'|t }}</a>
        {% endif %}
    </nav>
    {% endif %}

    </div>
</article>

