{% if image is empty %}
    {% set header_image = page.header.header_image | defined(true) %}
    {% set header_image_file = page.header.header_image_file %}

    {% if not header_image %}
        {% set image = null %}
    {% elseif header_image_file %}
        {% set image = page.media.images[header_image_file] %}
    {% else %}
        {% set image = page.media.images|first %}
    {% endif %}
{% endif %}

{% if title is empty %}
    {% set title = page.header.display_title|default(page.title) %}
{% endif %}

{% if byline is empty %}
    {% set byline = page.header.byline %}
{% endif %}

<header
    {% if image %}
    class="jumbotron"
    style="
            background-image: url('{{ image.cropZoom(1920,1080).url }}');
            background-image: -webkit-image-set( url({{ image.cropZoom(1920,1080).url }}) 1x, url({{ image.cropZoom(3840,2160).url }}) 2x );
            "
    {% else %}
    class="no-image"
    {% endif %}>

    {% if title_link and title_link != uri.path %}
    <h1><a href="{{ title_link }}">{{ title }}</a></h1>
    {% else %}
    <h1><span>{{ title }}</span></h1>
    {% endif %}

    {% if byline %}
    <div class="byline">
        {{ byline }}
    </div>
    {% endif %}

    {% if extras %}
    {{ extras|raw }}
    {% endif %}
</header>
