{% extends 'partials/base.html.twig' %}

{% block content %}
    <article class="modular">
        {% include 'partials/page-title.html.twig' %}
        {{ page.content }}
        {% for module in page.collection() %}
            <section id="{{ module.title | camelize }}" class="modular {{ module.template | underscorize | replace({'_': '-'})}} {{ module.header.classes | join (" ") }}">
                {{ module.content }}
            </section>
        {% endfor %}
    </article>
{% endblock %}
